---
---

<!-- <header class="bg-slate-900">
  <div class="px-4 py-4 md:mx-auto md:max-w-screen-2xl md:px-8 md:py-12">
    <div>Regenplus</div>
    <nav>
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
    </nav>
  </div>
</header> -->
