---
---

<section>
  <h1>
    Bestaande regenwaterputten slimmer inzetten voor een robuust waterbeleid
  </h1>
  <p>
    Enorm veel Vlaamse huishoudens hebben een regenwaterput en die wordt meestal
    goed gebruikt. Toch schuilt er een nog groter potentieel in! Ze kunnen een
    belangrijke bouwsteen zijn voor klimaatrobuuste regenwaterafvoer en kunnen
    bijdragen tot een duurzame en betaalbare drinkwatervoorziening. Dat
    potentieel willen in RegenPlus naar boven halen!
  </p>
</section>
