---
const { pageHeading, pageIntro } = Astro.props;
---

<div class="mb-10 pb-8">
  <h2 class="mb-6 text-2xl font-extrabold leading-none md:text-3xl xl:text-4xl">
    {pageHeading}
  </h2>
  <p class="text-base md:text-lg xl:text-xl">
    {pageIntro}
  </p>
</div>
