---
const { pageHeading, pageIntro } = Astro.props;
---

<div class="mb-20">
  <h2 class="mb-8 text-3xl font-extrabold leading-none md:text-3xl xl:text-4xl">
    {pageHeading}
  </h2>
  <p class="text-lg text-slate-500 sm:text-xl">
    {pageIntro}
  </p>
</div>
