---
const { sectionHeading, sectionIntro } = Astro.props;
---

<div class="">
  <h2
    class="mb-4 text-3xl font-extrabold tracking-tight text-slate-900 md:text-3xl lg:text-4xl"
  >
    {sectionHeading}
  </h2>
  <p class="mb-8 text-lg text-slate-500 sm:mb-16 sm:text-xl">
    {sectionIntro}
  </p>
</div>
