---
const { sectionHeading, sectionIntro } = Astro.props;
---

<div class="mx-auto max-w-screen-md text-center">
  <h2
    class="mb-4 text-2xl font-extrabold tracking-tight text-slate-900 md:text-3xl lg:text-4xl"
  >
    {sectionHeading}
  </h2>
  <p class="mb-24 text-slate-500 sm:text-xl">
    {sectionIntro}
  </p>
</div>
